/* basic setting */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul,ol {
    list-style: none;
}

img {
    /* space at the bottom */
    display: block;
	border:0;
}

b,strong {
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

i,em {
    font-style: normal;
}

u,ins,s,del {
    text-decoration: none;
}

table {
    border: 1px solid #999;
    /* cellspacing */
    border-spacing: 0;
    /* 1px margin */
    border-collapse: collapse;
}

td,th {
    border: 1px solid #999;
}

input,button {
    outline: none;
    border:none;
}

/* style setting */
body {
    font: 14px/1.5 'Open Sans', sans-serif; 
    color: #333;
}

a {
    text-decoration: none;
    color: #c78c06;
}

a:hover {
    color: #ffe6ac;
    text-decoration: none;
}

.leftfix {
    float: left;
}

.rightfix {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.marginfix {
    justify-content: center
}